.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
a{
    text-decoration:none;
    color: #fff;
}
p{
    color: #555;
}
.col-2 img{
    max-width: 100%;
    padding:50px 0
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px;
}
.btn{    
    color: #fff;
}
.header{
    /* background: radial-gradient(#fff,#ffd6d6) */
     /* background: radial-gradient(#fff, #8AAAE5)  */
     background: radial-gradient(#fff, #20468b) 
   
}
.header .row{
    margin-top: 70px;
}
.mat-icon-color{
    color: #fff;
}
.menu-icon{
    display: none;
}
/* media query for less than 800px */
@media only screen and (max-width: 800px) {
    .navbar-small-screen{
        display: flex;
        align-items: center;
        padding: 0px;
        margin-top: 0px;
    }
    nav ul{
        position: absolute;
        top: 70px;
        left:0;
        background: #374b63;
        width:100%;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a{
        color: #fff;
    }
    .menu-icon{
       display: block;
       cursor: pointer;
    }
}
