<!-- <mat-toolbar color="primary" class="mx-auto px-4 sm:px-6 lg:px-8 border-x justify-between">
    <a routerLink="home">Market Center</a>
    <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon
        [matBadge]="itemsQuantity"
        [matBadgeHidden]="!itemsQuantity"
        matBadgeColor="warn">
        shopping_cart</mat-icon>
    </button>
  <mat-menu #menu="matMenu">
<div class="p-3 divide-y divide-solid">
    <div class="pb-3 flex justify-between">
        <span class="mr-16">{{itemsQuantity}} Items</span>
      
    </div>

    <div class="py-3" *ngIf="cart.items.length">
        <div class="flex justify-between font-light mb-2"
        *ngFor="let item of cart.items">
          {{item.name}} x {{item.quantity}}
            <span class="font-bold">{{item.price | currency}}</span>
        </div>       
    </div>
 <div class="flex justify-between py-3 font-light">
    Total:
    <span class="font-bold">{{getTtotal() | currency: currencyCode}}</span>
 </div>
 <div class="pt-3 flex justify-between">
    <button (click)="onClearCart()" class="bg-rose-600 text-white rounded-full w-9 h-9">
        <mat-icon>remove_shopping_cart</mat-icon>
    </button>
    <button  routerLink="/cart" class="bg-green-600 text-white rounded-full w-9 h-9">
        <mat-icon>shopping_cart</mat-icon>
    </button>
 </div>
</div>
  </mat-menu>
</mat-toolbar> -->


<div class="header">
    <div class="container">
        <div class="navbar">
            <div class="logo">
                <img src="assets/logo.png" width="125px"/>
            </div>
            <nav>
                <ul>
                    <li><a href="Home">Home</a></li>
                    <li><a href="Products">Products</a></li>
                    <li><a href="About">About</a></li>
                    <li><a href="Contact">Contact</a></li>
                    <li><a href="Account">Account</a></li>
                </ul>
            </nav>
                <button mat-icon-button>
                    <mat-icon
                    [matBadge]="itemsQuantity"
                    [matBadgeHidden]="!itemsQuantity"
                    matBadgeColor="warn" class="mat-icon-color">
                    shopping_cart</mat-icon>
                </button>
           
        </div>
        <div class="row">
            <div class="col-2">
                <h1>Give Your Workout<br> A New Style!</h1>
                <p>Success isn't always about greatness. It's about consistency. Consistent <br>hard work gains success. Greatness will come. </p>
                <a href="" class="btn">Explore Now &#8594;</a>
            </div>
            <div class="col-2">
                <img src="assets/image1.png">
            </div>
        </div>
    </div>
</div>
<app-featured-categories></app-featured-categories>
<app-featured-products></app-featured-products>
<app-testimonial></app-testimonial>