<!-- <mat-toolbar color="primary" class="mx-auto px-4 sm:px-6 lg:px-8 border-x justify-between">
    <a routerLink="home">Market Center</a>
    <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon
        [matBadge]="itemsQuantity"
        [matBadgeHidden]="!itemsQuantity"
        matBadgeColor="warn">
        shopping_cart</mat-icon>
    </button>
  <mat-menu #menu="matMenu">
<div class="p-3 divide-y divide-solid">
    <div class="pb-3 flex justify-between">
        <span class="mr-16">{{itemsQuantity}} Items</span>
      
    </div>

    <div class="py-3" *ngIf="cart.items.length">
        <div class="flex justify-between font-light mb-2"
        *ngFor="let item of cart.items">
          {{item.name}} x {{item.quantity}}
            <span class="font-bold">{{item.price | currency}}</span>
        </div>       
    </div>
 <div class="flex justify-between py-3 font-light">
    Total:
    <span class="font-bold">{{getTtotal() | currency: currencyCode}}</span>
 </div>
 <div class="pt-3 flex justify-between">
    <button (click)="onClearCart()" class="bg-rose-600 text-white rounded-full w-9 h-9">
        <mat-icon>remove_shopping_cart</mat-icon>
    </button>
    <button  routerLink="/cart" class="bg-green-600 text-white rounded-full w-9 h-9">
        <mat-icon>shopping_cart</mat-icon>
    </button>
 </div>
</div>
  </mat-menu>
</mat-toolbar> -->


<div class="header">
    <div class="container">
        <div class="navbar">
            <div class="logo">
                <!-- <img src="assets/logo.png" width="125px"/> -->
                <h1 class="logo">LoGo HeRe</h1>
            </div>
            <nav>
                <ul id="menuItems">
                    <li><a href="Home">Home</a></li>
                    <li><a routerLink="/products">Products</a></li>
                    <li><a routerLink="/about">About</a></li>
                    <li><a routerLink="/contact">Contact</a></li>
                    <li><a routerLink="/account">Account</a></li>
                </ul>
            </nav>
                <button mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon
                    [matBadge]="itemsQuantity"
                    [matBadgeHidden]="!itemsQuantity"
                    matBadgeColor="warn" class="mat-icon-color">
                    shopping_cart</mat-icon>
                </button>


                <mat-menu #menu="matMenu">
                    <div class="cart-containter" *ngIf="cart.items.length">
                        <div class="pb-3 flex justify-between">
                            <span class="mr-16">{{itemsQuantity}} Items</span>
                          
                        </div>
                        <table>
                            <tr *ngFor="let item of cart.items">
                                <td><p class="truncate">{{item.name}}</p></td><td>x {{item.quantity}}</td>
                            </tr>
                            <tr><td> Total:</td><td> <span class="font-bold">{{getTtotal() | currency: currencyCode}}</span></td></tr>
                        </table>
                        <!-- <div class="py-3" *ngIf="cart.items.length">
                            <div class="text.single-line"
                            *ngFor="let item of cart.items">
                              <span>{{item.name}}</span> x {{item.quantity}}
                                <span class="font-bold">{{item.price | currency}}</span>
                            </div>       
                        </div> -->
                     <!-- <div class="flex justify-between py-3 font-light">
                        Total:
                        <span class="font-bold">{{getTtotal() | currency: currencyCode}}</span>
                     </div> -->
                     <div class="flex space justify-between">
                        <button (click)="onClearCart()" class="cart-icon-red">
                            <mat-icon>remove_shopping_cart</mat-icon>
                        </button>
                        <button  routerLink="/cart" class="cart-icon-green">
                            <mat-icon>shopping_cart</mat-icon>
                        </button>
                     </div>
                    </div>
                    <p *ngIf="!cart.items.length">Cart is empty</p>
                </mat-menu>



                <button *ngIf="!smallScreenMenuIsVisible" mat-icon-button class="menu-icon" (click)="menuToggle()" aria-label="Example icon-button with menu icon">
                    <mat-icon class="mat-icon-color">menu</mat-icon>
                </button>
                
                <button *ngIf="smallScreenMenuIsVisible" mat-icon-button class="menu-icon" (click)="menuToggle()" aria-label="Example icon-button with menu icon">
                    <mat-icon class="mat-icon-color">close</mat-icon>
                </button>
           
        </div>
        <!-- <div class="row">
            <div class="col-2">
                <h1>Give Your Workout<br> A New Style!</h1>
                <p>Success isn't always about greatness. It's about consistency. Consistent <br>hard work gains success. Greatness will come. </p>
                <a href="" class="btn">Explore Now &#8594;</a>
            </div>
            <div class="col-2">
                <img src="assets/main.png">
            </div>
        </div> -->
    </div>
</div>
