<!-- <mat-expansion-panel *ngIf="categories">
    <mat-expansion-panel-header>
        <mat-panel-title>CATEGORIES</mat-panel-title>
    </mat-expansion-panel-header>
    <mat-selection-list #matRef [multiple]="false">
        <mat-list-option (click)="onShowCategory(category)" *ngFor=" let category of categories" [value]="category">
            <button>{{category}}</button>
        </mat-list-option> 
        
    </mat-selection-list>
    <button (click)=" clear() " mat-raised-button>Clear Category</button>
</mat-expansion-panel> -->