
img{
    min-width: 200px;
    position: relative;
    display: flex;
}
/* 35em is also 560px (if basefont is 16px) */

@media only screen and (min-width: 35em) {
	img{
        min-width: 200px;
    }

}

/* 64em is also 1024px (if basefont is 16px) */
@media only screen and (min-width: 64em) {
	@import "large";
} 