<div class="testimonial">
    <div class="small-container">
        <div class="row">
            <div class="col-3">
                <i class="fa fa-quote-left"></i>
                <p>Lorem Ipsum is simply dummy text of the printing andtypoesetting industry. 
                    Lorem Ipsum has been the industry's standard dummy text ever</p>
                    <app-star-rating [product] ="product" [showVotes]="false"></app-star-rating>
                    <img src="assets/user-1.png">
                    <h3>Sean Parker</h3>
            </div>
            <div class="col-3">
                <i class="fa fa-quote-left"></i>
                <p>Lorem Ipsum is simply dummy text of the printing andtypoesetting industry. 
                    Lorem Ipsum has been the industry's standard dummy text ever</p>
                    <app-star-rating [product] ="product" [showVotes]="false"></app-star-rating>
                    <img src="assets/user-2.png">
                    <h3>Mike Smith</h3>
            </div>
            <div class="col-3">
                <i class="fa fa-quote-left"></i>
                <p>Lorem Ipsum is simply dummy text of the printing andtypoesetting industry. 
                    Lorem Ipsum has been the industry's standard dummy text ever</p>
                    <app-star-rating [product] ="product" [showVotes]="false"></app-star-rating>
                    <img src="assets/user-3.png">
                    <h3>Jane Doe</h3>
            </div>
        </div>
       
    </div>
</div>