<div class="brands">
    <div class="small-container">
        <div class="row">
            <div class="col-5">
                <img src="assets/logo-godrej.png">
            </div>
            <div class="col-5">
                <img src="assets/logo-oppo.png">
            </div>
            <div class="col-5">
                <img src="assets/logo-coca-cola.png">
            </div>
            <div class="col-5">
                <img src="assets/logo-paypal.png">
            </div>
            <div class="col-5">
                <img src="assets/logo-philips.png">
            </div>
        </div>
    </div>
</div>